---
import "./index.css"
import Skibidi from "../components/Skibidi.astro"
import Jonkler from "../components/Jonkler.astro"
import LTFade from "../components/LowTaperFade.astro"
import NeverGoon from "../components/NeverGoon.astro"
import HawkTuah from "../components/HawkTuah.astro"
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
		</style>
	</head>
	<body>
		<main>
		<h1>My Skibidi Sigmas welcome to what the sigma my sigmas sigma</h1>
			Hawk Tuah
			{<HawkTuah />}

			{<Skibidi />}
			{<Jonkler />}
			{<NeverGoon />}
			{<LTFade />}
		</main>
		<script>
window.alert("Warning: Flashing Lights as BG")

		</script>
	</body>
</html>
