---
import "./index.css"
import Skibidi from "../components/Skibidi.astro"
import Jonkler from "../components/Jonkler.astro"
import LTFade from "../components/LowTaperFade.astro"
import NeverGoon from "../components/NeverGoon.astro"
import HawkTuah from "../components/HawkTuah.astro"
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Erm what the sigma">
<meta name="description" content="My fellow sigmas this skibidid sigma tiktok brainrot site is super skibidy join up and become the ultra alpha with the one and only sigmas. in more sigma words: reddit W streamer i am a surgeon battle pass dog doin' shaker sisyphus nickeh30 biggest bird kai cenat grindset amogus chat bussing quandale dingle this ohio metal pipe falling glazing fanum bomboclat delulu mew pibby glitch baby gronk glazing mewing goated with the sauce livvy dunne brainrot we go jim rizzler andrew tate imposter looksmaxxing zyzz 1 2 buckle my shoe josh hutcherson baby gronk chungus grindset smurf cat in real life omega male gyatt better caul saul sussy funny moments nair mewing W rizz based monday left me broken W poppy playtime delulu zoomer level 600 gyatt poppy playtime baby gronk morbin time cringe looksmaxxing L we go gym sisyphus and bomboclat ipad kid kai cenat sin city skibidi the zoomer ipad kid tiktok griddying wholesome compilation reddit ya cut g dawg kumalala savesta with the ayo the pizza here gyatt only in ohio negative rizz dog doin' and lean colleen ballinger hit the griddy i am a surgeon 1 2 buckle my shoe opium bird gassy sisyphus baby gronk keanu reeves ">
<meta name="keywords" content="sigma,brainrot,2024,tiktok">
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta property="og:type" content="website" />
<meta property="og:image" content="./image.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
		</style>
	</head>
	<body>
		<main>
		<h1>My Skibidi Sigmas welcome to what the sigma my sigmas sigma</h1>
			Hawk Tuah
			{<HawkTuah />}

			{<Skibidi />}
			{<Jonkler />}
			{<NeverGoon />}
			{<LTFade />}
		</main>
		<script>
window.alert("Warning: Flashing Lights as BG")

		</script>
	</body>
</html>
